Options -MultiViews
RewriteEngine On

<IfModule mod_rewrite.c>
    # Redirect /index.php to / (optional, but recommended I guess)
    RewriteRule ^index\.php$ / [R=301,L]

    # Add trailing slash
    RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*[^/])$ /$1/ [L,R=301]

    # a request to a directory or file other than the root
    # or the public directory is forbidden
    #RewriteCond %{REQUEST_URI} (\/.+)
    #RewriteCond %{REQUEST_URI} !(\/public)
    #RewriteCond %{ENV:REDIRECT_STATUS} ^$
    #RewriteCond %{REQUEST_FILENAME} -f [OR]
    #RewriteCond %{REQUEST_FILENAME} -d
    #RewriteRule ^(.*)$ /403/ [L,R=301]

    # Run everything else but real files through index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php/$1?%{QUERY_STRING} [L]
</IfModule>