<h3>Instructions</h3>
<p>This interface allows you to construct, view, and publish a custom presentation of a protein structure. The presentation should be divided into multiple frames. In each frame, you should highligh a structural feature of the protein and discuss its biological implications.</p>
<p><b>Edit Frames</b></p>
<p>Use this menu to add, edit, and delete frames. Controls:</p>
<ul>
	<li>Click the Add Frame button to add a new frame.</li>
	<li>Click the Save orientation button to save changes you have made to a frame. If you do not click this button before going to a different frame (clicking Add Frame will do this) then any changes you make will not be saved to the presentation.</li>
	<li>The Frames Selector lets you click on any frame in order to view and edit it.</li>
	<li>Click the Delete Frame button to permanently delete the frame that you are currently viewing from the presentation.</li>
	<li>The Frame Message allows you to edit the message associated with each frame. The message should describe the structural feature that you are highlighting in each frame and discuss its biological implications.</li>
</ul>
<p><b>Edit Display</b></p>
<ul>
	<li>The Display Residues function allows you to make the atomic structure of specific residues visible in a frame.</li>
	<li>The chain selector allows you to choose a specific chain to highligh residues in. Currently this application does not support displaying residues from different chains in the same frame.</li>
	<li>The residues selector allows you to choose which residues to display. Simply click on the residue to make it visible in the frame.</li>
</ul>
<p><b>Preview Presentation</b></p>
<p>Click this tab to see a what other site users will see when they view your presentation.</p>
<p><b>Publish Presentation</b></p>
<p>Click this tab to add a title, description, and your name to your presentation and then to upload it to the website for other users to view.</p>
<p>Clicking Submit will upload the presentation and then redirect you to the public view of your presentation. Currently this application does not support editing presentations after submitting them.</p>