{% extends 'layout.twig.html' %}

{% block title %}{% endblock %}

{% block description %}{% endblock %}

{% block main %}

<div class="body">
	<div class="body__row">
		<div class="body__item">
			<p>structures.fyi was created by <a href="http://tstevens.xyz">Taylor Stevens</a>. The purpose of this site is to make learning about structural biology easy, enjoyable, and accessible to those with only a basic understanding of biology and chemistry. Learning structural biology through verbal descriptions and pictures can be confusing. A 3D physical representation of macromolecular structure that can be manipulated by the user can make the structures and their behavior much easier to understand.</p>
			<p id="contact">If you are a structural biologist and would like to collaborate on a structural presentation of your work please contact me at:<br><a href="mailto:tayste5000@gmail.com">tayste5000@gmail.com</a></p>
		</div>
		<div class="body__item">
			<img src="/public/img/a-helix.png" class="intro-img" alt="">
		</div>
	</div>
</div>
{% endblock %}