{% extends 'layout.twig.html' %}

{% block title %}{% endblock %}

{% block description %}{% endblock %}

{% block main %}

<div class="body">
	<div class="body__row">
		<div class="body__item">
			<p>Proteins are amazing! Formed by as many as thousands of amino acid molecules chained together,
				protein are the main actors in many biological processes. Proteins are responsible for processes such as converting the energy in the food you consume to fuel for your muscles and brain, or detecting the presence of a small molecules, such as hormones, and activating a specific set of genes to produce the proper response.
				<a href="{{base}}/intro/protein/">See for your self!</a>
			</p>
		</div>
		<div class="body__item">
			<img src="/public/img/a-helix.png" class="intro-img" alt="">
		</div>
	</div>
	<p>More to come soon!</p>
</div>
{% endblock %}