<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% if active == 'home' %}
	<!-- <meta name="google-site-verification" content="WUqQQbur7lN229f3ziXFLR5iQi4qaZPsIyU4YwS36kw" /> -->
	{% endif %}

	
	{% if noIndex %}
	<meta name="robots" content="noindex" />
	{% else %}
	<meta name="robots" content="index, follow" />
	{% endif %}

	<meta name="keywords" content="">

	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}">

	<!-- <link rel="icon" href="{{ base }}/public/icons/checker.ico"/> -->
	<link rel="stylesheet" type="text/css" href="{{ base }}/public/css/style.css">
	<link rel="stylesheet" href="{{ base }}/public/css/font-awesome/css/font-awesome.min.css">

	<script type="text/javascript" src="{{ base }}/public/js/modernizr.custom.43332.js"></script>

	<script type="text/javascript">
		Modernizr.load({
			test: Modernizr.placeholder,
			nope: "/public/js/placeholders.js"
		});
		Modernizr.load({
			test: Modernizr.mq('only all'),
			nope: "/public/js/respond.js"
		});
	</script>
</head>
<body>

<div class="main">

	<nav class="navbar">
		<div class="navbar__title">
			<a href="{{ base }}/"><b>structures</b>.<i>fyi</i></a>
		</div>

		<div class="navbar__collapse">
			<ul class="navbar__item-list">
				<li class="navbar__item {% if active == "intro" %}active{% endif %}"><a href="{{ base }}/intro/">Intro</a></li>
				<li class="navbar__item {% if active == "structures" %}active{% endif %}"><a href="{{ base }}/structures/">Structures</a></li>
				<li class="navbar__item {% if active == "about" %}active{% endif %}"><a href="{{ base }}/about/">About</a></li>
			</ul>
		</div>
	</nav>

	{% block main %}{% endblock %}

</div>
</body>
</html>