{% extends 'layout.twig.html' %}

{% block title %}{% endblock %}

{% block description %}{% endblock %}

{% block main %}

<div class="body">
	<div class="body__row">
		<div class="body__item">
			<p>Structural Biology resources</p>
			<ul>
				<li><a target="_blank" href="https://en.wikipedia.org/wiki/Structural_biology">Wikipedia artical on structural biology</a></li>
				<li><a target="_blank" href="https://www.nigms.nih.gov/education/pages/factsheet_structuralbiology.aspx">Structural biology fact sheet</a></li>
				<li><a target="_blank" href="http://www.nature.com/nsmb/index.html">Nature Structural & Molecular Biology</a></li>
				<li><a target="_blank" href="http://sbkb.org/">Structural Biology Knowledge Base</a></li>
				<li><a href="/about/#contact">Contact me</a> if there is anything else you think I should add here</li>
			</ul>
		</div>
		<div class="body__item">
			<img src="/public/img/a-helix.png" class="intro-img" alt="">
		</div>
	</div>
</div>
{% endblock %}