{% extends 'layout.twig.html' %}

{% block title %}Checkerboard Cheese - Site Map{% endblock %}

{% block description %}Checkerboard Cheese is the "Home of the Chopped Cheese". We are a food truck operating in the Knoxville area and beyond specializing in grilled cheese sandwiches.{% endblock %}


{% block main %}

	<h1 class="text-center">Site Map</h1>

<ul>
	<li><a href="{{ base }}/">Home</a></li>
	<li><a href="{{ base }}/about/">About</a></li>
	<li><a href="{{ base }}/menu/">Menu</a></li>
	<li><a href="{{ base }}/events/">Events</a></li>
	<li><a href="{{ base }}/contact/">Contact</a></li>
</ul>

{% endblock %}