{% extends 'layout.twig.html' %}

{% block title %}{% endblock %}

{% block description %}{% endblock %}

{% block main %}

<div class="body">
	<div class="body__row">
		<div class="body__item">
			<p>
				Constituitive Andorstane Recptor (CAR) (PDB ID: 1XNX)<br><br>
				CAR is a nuclear hormone receptor present in the liver. CAR is part of the liver's xenobiotic regulation mechanisms. Xenobiotic regulation involves detecting foreign molecules and either destroying them or removing them from the cells. This mechanism is abused in drug resistant cancer to reduce the effectiveness of chemotheraputics. 
				<br>
				<a class="fancy-button" href="/structures/car/">Take a tour of CAR</a>
			</p>
		</div>
		<div class="body__item">
			<img src="/public/img/car_strux.png" style="width:100%;">
		</div>
	</div>
</div>
{% endblock %}