{% extends 'layout.twig.html' %}

{% block title %}{% endblock %}

{% block description %}{% endblock %}

{% block main %}

<div class="body">
	<div class="body__row">
		<div class="body__item">
			<p>
				Constituitive Andorstane Recptor (CAR) (PDB ID: 1XNX)<br><br>
				CAR is a nuclear hormone receptor present in the liver. CAR is part of the liver's xenobiotic regulation mechanisms. Xenobiotic regulation involves detecting foreign molecules and either destroying them or removing them from the cells. This mechanism is abused in drug resistant cancer to reduce the effectiveness of chemotheraputics. 
				<br><br>
				<a class="fancy-button" href="/structures/car/">Take a tour of CAR</a>
			</p>
		</div>
		<div class="body__item">
			<img src="/public/img/car_strux.png" style="width:100%;">
		</div>
	</div>
	<div class="body__row">
		<div class="body__item">
			<p>
				Pyruvate Carboxylase (PC) (PDB ID: 2QF7)<br><br>
				There are several thousand chemical reactions occuring in our bodies at any given moment. Compounds for many different purposes are produced from the same core metabolic building blocks. Maintaining the body's supply of these building blocks is an important task. Pyruvate carboxylase is an important enzyme for balancing the bodies metabolism. Pyruvate carboxylase converts pyruvate, a common molecular fuel, into oxaloacetate, which is important for a variety of cellular processes as a chemical building block and more.
				<br><br>
				<a class="fancy-button" href="/structures/pc/">Take a tour of PC</a>
			</p>
		</div>
		<div class="body__item">
			<img src="/public/img/pyruvate-carboxylase.png" style="width:100%;">
		</div>
	</div>
</div>
{% endblock %}